.login_container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  /* padding-left: 25%; */
  height: 20vh;
  width: 100%;
  /* padding-left: 60px; */
  color:#000000;
}

/* Background and layout */
.homepage {
  padding: 2rem;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #ffffff, #ffffff);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #1e3a8a;
  margin-bottom: 2.5rem;
  text-align: center;
}

/* Grid for 4 cards */
.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
}

/* Card styles */
.card {
  background: white;
  border: 1px solid #d0dbff;
  border-radius: 1rem;
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.08);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  background-color:#e0e7ff;
}

.card_content {
  padding: 2rem;
  text-align: center;
}

.card_content h2 {
  margin-top: 0.8rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #374151;
}

/* Icon colors */
.icon {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.icon.indigo {
  color: #4338ca;
}

.icon.green {
  color: #059669;
}

.icon.orange {
  color: #ea580c;
}

.icon.gray {
  color: #4b5563;
}
.topbar {
  background: #2563eb;
  color: white;
  padding: 1px 700px;
  display: flex;
  justify-content: space-between; /* spreads logo left, menu right */
  align-items: left;
  margin-bottom: 5%;
  gap: 400px;
  padding-right: 2%;
  padding-left: 1%;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin-top: 15px;
  white-space: nowrap;   /* prevents wrapping */
  justify-content: center; 
}

.menu {
  list-style: none;
  display: flex;
  gap: 60px;
  font-weight: bold;

}
  
.menu li {
  cursor: pointer;
}

.menu li:hover {
  color: #ffffff;
}

.logout{
   margin-right: 0px;
}

.nav_link {
  text-decoration: none;   /* removes underline */
  color: inherit;          /* inherits white/black text color */
  font-weight: 500;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background 0.2s ease;
}

.nav_link:hover {
  color: #ffffff;          /* highlight color */
}
